.env.dev
.env.dev.db
/venv/
*.pyc
**/notes.txt
*.log
*.dump
**/__pycache__
**/.env
*.egg-info
*.code-workspace
**/.vscode
**/requirements.txt
log.out
app/staticfiles/
app/mtn_web/migrations/0*
home/j/dev/log
*.xml
/.idea