{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    News Sources - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_sources_2.css' %}">
{% endblock %}

{% block content %}
    <div class="accordion row no-gutters" id="sorting-accordion">
        <div class="col-xs-12 col-lg-4">
            <h2 class="sort-header">
                <button class="btn btn-link collapsed" id="country-heading" data-toggle="collapse" data-target="#country-collapse" aria-expanded="false" aria-controls="#country-collapse">
                    Sources by Country
                </button>
            </h2>
        </div>
        <div class="col-xs-12 col-lg-4">
            <h2 class="sort-header">
                <button class="btn btn-link collapsed" id="category-heading" data-toggle="collapse" data-target="#category-collapse" aria-expanded="false" aria-controls="#category-collapse">
                    Sources by Category
                </button>
            </h2>
        </div>
        <div class="col-xs-12 col-lg-4">
            <h2 class="sort-header">
                <button class="btn btn-link collapsed" id="language-heading" data-toggle="collapse" data-target="#language-collapse" aria-expanded="false" aria-controls="#language-collapse">
                    Sources by Language
                </button>
            </h2>
        </div>
    </div>

    <div class="collapse" id="country-collapse" data-parent="#sorting-accordion" aria-labelledby="country-heading">
        {% regroup source|dictsort:'country' by country as sources_by_country %}
        <div class="accordion row no-gutters" id="country-accordion">
            {% for country in sources_by_country %}
                <div class="col-12">
                    <div class="card-header" id="{{ country.grouper }}-heading">
                        <h5>
                            <button class="btn btn-link collapsed card-btn src-header" data-toggle="collapse" data-target="#{{ country.grouper }}-collapse" aria-expanded="false" aria-controls="#{{ country.grouper }}-collapse">
                                {{ country.grouper }}
                            </button>
                        </h5>
                    </div>
                    <div id="{{ country.grouper }}-collapse" class="collapse" data-parent="#country-accordion" aria-labelledby="{{ country.grouper }}-heading">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for source in country.list %}
                                    <li class="list-group-item src-by-ctry">
                                        <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                        <p class="src-details">{{ source.language }}</p>
                                        <sub class="src-cats">[ {{ source.categories|join:", "}} ]</sub>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="collapse" id="category-collapse" data-parent="#sorting-accordion" aria-labelledby="category-heading">
        <div class="accordion row no-gutters" id="category-accordion">
            {% for category in categories %}
                <div class="col-12">
                    <div class="card-header" id="{{ category.cat|capfirst|safe }}-heading">
                        <h5>
                            <button class="btn btn-link collapsed card-btn src-header" data-toggle="collapse" data-target="#{{ category.cat|capfirst|safe }}-collapse" aria-expanded="false" aria-controls="#{{ category.cat|capfirst|safe }}-collapse">
                                {{ category.cat|capfirst|safe }}
                            </button>
                        </h5>
                    </div>
                    <div id="{{ category.cat|capfirst|safe }}-collapse" class="collapse" data-parent="#category-accordion" aria-labelledby="{{ category.cat|capfirst|safe }}-heading">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for source in category.src_list %}
                                    <li class="list-group-item src-by-cat-li">
                                        <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                        <p class="src-details">{{ source.country|safe }} - {{ source.language|safe }} </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="collapse" id="language-collapse" data-parent="#sorting-accordion" aria-labelledby="language-heading">
        {% regroup sources|dictsort:'language' by language as sources_by_language %}
        <div class="accordion row no-gutters" id="language-accordion">
            {% for language in sources_by_language %}
                <div class="col-12">
                    <div class="card-header" id="{{ language.grouper }}-heading">
                        <h5>
                            <button class="btn btn-link collapsed card-btn src-header" data-toggle="collapse" data-target="#{{ language.grouper }}-collapse" aria-expanded="false" aria-controls="#{{ language.grouper }}-collapse">
                                {{ language.grouper }}
                            </button>
                        </h5>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </div>

    <div id="{{ language.grouper }}-collapse" class="collapse" data-parent="#language-accordion" aria-labelledby="{{ language.grouper }}-heading">
            <div class="row">
                {% comment %} <ul class="list-group list-group-flush"> {% endcomment %}
                    {% for source in language.list %}
                        {% comment %} <li class="list-group-item src-by-lang"> {% endcomment %}
                        <div class="col-xs-12 col-md-4 src-by-lang">
                            <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                            {% comment %} <span class="src-details">{{ source.country|safe }} - {{ source.categories|join:", " }}</span> {% endcomment %}
                            <p class="src-details"> {{ source.country|safe }}</p>
                            <sub class="src-cats">[ {{source.categories|join:", "}} ]</sub>
                            {% comment %} <ul>{{ source.categories|unordered_list }}</ul> {% endcomment %}
                        {% comment %} </li> {% endcomment %}
                        </div>
                    {% endfor %}
                {% comment %} </ul> {% endcomment %}
            </div>
        </div>
{% endblock %}