{% extends 'general/root.html' %}

{% load static %}

{% block title %}
    Publishers for Country - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' href='{% static "css/view_sources_by_country.css" %}'>
{% endblock %}

{% block content %}
    <div class="row no-gutters container">
        <div class="col-12 accordion" id="country-accordion">
            <ul class="list-group list-group-flush src-ul">
                {% for country in countries %}
                    <li class="list-group-item">
                        <h3 id="{{ country.alphanum_name }}-heading">
                            <button class="btn btn-link collapsed country-header" data-toggle="collapse" data-target="#{{ country.alphanum_name }}-collapse" aria-expanded="false" aria-controls="#{{ country.alphanum_name }}-collapse">
                                {{ country.display_name }}
                            </button>
                        </h3>
                        <div id="{{ country.alphanum_name }}-collapse" class="collapse" data-parent="#country-accordion" aria-labelledby="{{ country.alphanum_name }}-heading">
                            <ul class="list-group list-group-flush src-list row no-gutters flex-container">
                                {% for source in country.publishers.all %}
                                    <li class="list-group-item src-by-ctry col-sm-12 col-md-4">
                                        <p class="publisher-name">{{ source.name }}</p>
                                        <p class="publisher-categories">{% for category in source.categories.all %} {{ category.name }} {% endfor %}</p>
                                        <p class="publisher-languages">{% for language in source.languages.all %} {{ language.display_name }} {% endfor %}</p>
                                        <hr>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}