.idea
*.log
.env
*.css.map
venv/
/notes.txt
/wheel
*.egg-info
/build
/static
/static/
/media
/media/
/venv
./latest.dump
*.dump
.vscode
./docker-compose.local.yml


__pycache__/
geo_data.txt
mtn_core/__pycache__/
mtn_user/__pycache__/
mtn_web/__pycache__/
