.idea
*.log
.env
*.css.map
venv/
/mtn_web/migrations/
/mtn_user/migrations/
/notes.txt
/wheel
*.egg-info
/build
/static
/static/
/media
/media/
/venv


__pycache__/
geo_data.txt
mtn_core/__pycache__/
mtn_user/__pycache__/
mtn_web/__pycache__/
