{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    New Search - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/new_query.css' %}">
{% endblock %}

{% block content %}
    <div class="row new-query-div" id="upper">
        <div class="col"></div>
        <div class="col-6" id="new-query-title-ctr">
            <h2>Map the News:</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row new-query-div" id="lower">
        <div class="col"></div>
        <div class="col-xs-12 col-lg-10 col-xl-8" id="new-query-body-ctr">
            <form id="new-query-form" method="post" action="{% url 'new_query' %}">
                {% csrf_token %}
                {{ search_form.as_p }}
                <button type="submit" class="btn btn-outline-light">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div id="filler-div"></div>
{% endblock %}