
{% extends 'general/root.html' %}


{% load static %}


{% block title %}
    News Sources by Category - {{ block.super }}
{% endblock %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_sources_by_category.css' %}">
{% endblock %}


{% block content %}
    {{ categories }}

    <div class="row no-gutters container">
        <div class="col-12 accordion" id="category-accordion">
            <ul class="list-group list-group-flush src-ul">
                {% for category in categories %}
                    <li class="list-group-item">
                        <h3 id="{{ category|get_key:cat }}-heading">
                            <button class="btn btn-link collapsed category-header" data-toggle="collapse" data-target="#{{ category|get_key:cat }}-collapse" aria-expanded="false" aria-controls="#{{ category|get_key:cat }}-collapse">
                                {{ category|get_key:cat|capfirst }}
                            </button>
                        </h3>
                        <div id="{{ category|get_key:cat }}-collapse" class="collapse" data-parent="#category-accordion" aria-labelledby="{{ category|get_key:cat }}-heading">
                            <ul class="list-group list-group-flush src-list row">
                                {% for source in category|get_key:src_list %}
                                    <li class="list-group-item src-by-cat col-sm-12 col-md-4">
                                        <p class="src-name">{{ source|get_key:name }}</p>
                                        <p class="src-country">Publishing Country: {{ source|get_key:publishing_country.display_name }}</p>
                                        {% if source|get_key:readership_countries|length > 0 %}
                                            <p class="src-market">Readership Market(s): [ {% for country in source|get_key:readership_countries %}{{ country|get_key:display_name }}{% endfor %} ]</p>
                                        {% endif %}
                                        <p class="src-lang">[ {% for language in source|get_key:languages %} {{ language|get_key:display.name }} {% endfor %} ]</p>
                                        <hr>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}