{% extends 'general/root.html' %} 

{% load static %}

{% block title %}
    View Sources by Selection - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' href='{% static "css/view_source_groups.css" %}'>
{% endblock %}

{% block content %}

    <div class="section-wrapper">
        <h2 class="section-title">View Sources by Country</h2>
        <ul class="row no-gutters list-group list-group-flush src-list flex-container">
            {% for country in countries %}
                <li class="list-group-item src-li col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <a class="source-group-link" href="{{ country.get_absolute_url }}">
                        {{ country.display_name  }} ({{ country.alpha2_code }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <div class="section-wrapper">
        <h2 class="section-title">View Sources by Language</h2>
        <ul class="row no-gutters list-group list-group-flush src-list flex-container">
            {% for language in languages %}
                <li class="list-group-item src-li col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <a class="source-group-link" href="{{ language.get_absolute_url }}">
                        {{ language.display_name }} ({{ language.alpha2_code }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <div class="section-wrapper">
        <h2 class="section-title">View Sources by Category</h2>
        <ul class="row no-gutters list-group list-group-flush src-list flex-container">
            {% for category in categories %}
                <li class="list-group-item src-li col-sm-6 col-md-3 col-lg-auto">
                    <a class="source-group-link" href="{{ category.get_absolute_url }}">
                        {{ category.name|capfirst }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}