{% extends 'general/root.html' %}

{% load static %}
{% load slice_up_to_comma %}

{% block title %}
    News Sources by Country - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' href='{% static "css/view_sources_by_country.css" %}'>
{% endblock %}

{% block content %}
    Publishers:
    {{ publishers }}

    Markets:
    {{ markets }}
    <!--
    <div class="row no-gutters container">
        <div class="col-12 accordion" id="country-accordion">
            <ul class="list-group list-group-flush src-ul">
                {% regroup sources|dictsort:'country_display_name' by country_display_name as sources_by_country %}
                {% for country in sources_by_country %}
                    <li class="list-group-item">
                        <h3 id="{{ country.grouper|cut:' ' }}-heading">
                            <button class="btn btn-link collapsed country-header" data-toggle="collapse" data-target="#{{ country.grouper|cut:' ' }}-collapse" aria-expanded="false" aria-controls="#{{ country.grouper|cut:' ' }}-collapse">
                                {{ country.grouper }}
                            </button>
                        </h3>
                        <div id="{{ country.grouper|cut:' ' }}-collapse" class="collapse" data-parent="#country-accordion" aria-labelledby="{{ country.grouper|cut:' ' }}-heading">
                            <ul class="list-group list-group-flush src-list row">
                                {% for source in country.list %}
                                    <li class="list-group-item src-by-ctry col-sm-12 col-md-4">
                                        <p class="src-url">{{ source.name }}</p>
                                        <p class="src-details">{{ source.language }}</p>
                                        <p class="src-cats">[ {{ source.categories|join:", "}} ]</p>
                                        <hr>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    -->
{% endblock %}