{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    {{ source.name }} Details - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_source_detail.css' %}">
{% endblock %}

{% block content %}

    {% for source in source %}
        <div class="card text-center">
            <h1 class="card-header">{{ source.name }} Details</h1>
            <div class="card-body">
                <h3 class="card-title col-12">Publishing Country</h3>
                <p class="card-text col-12">{{ source.publishing_country }}</p>
                {% if source.readership_countries %}
                    <h3 class="card-title col-12">Readership Countries</h3>
                    {% for country in source.readership_countries %}
                        <p class="card-text col-auto"> {{ country }} </p>
                    {% endfor %}
                {% endif %}
                <h3 class="card-title col-12">Categories</h3>
                {% for category in source.categories %}
                    <p class="card-text col-auto"> {{ category|capfirst }} </p>
                {% endfor %}
                <h3 class="card-title col-12">Languages</h3>
                {% for language in source.languages %}
                    <p class="card-text col-auto"> {{ language }} </p>
                {% endfor %}
            </div>
        {% endfor %}

{% endblock %}