
{% extends 'general/root.html' %}


{% load static %}
{% load slice_up_to_comma %}
{% load to_alphanumeric %}


{% block title %}
    News Sources - {{ block.super }}
{% endblock %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_sources.css' %}">
{% endblock %}


{% block content %}

    <div class="container accordion" id="view-src-accordion">

        <div class="row no-gutters sources">
            <button class="btn btn-link collapsed sort-type-btn" data-toggle="collapse" data-target="#country-accordion" aria-expanded="false" aria-controls="#country-accordion" id="sort-ctry">
                <h2 class="sort-style" id="country-heading">Sources by Country</h2>
            </button>
            <div class="col-12 accordion collapse" id="country-accordion" data-parent="#view-src-accordion" aria-labelledby="country-heading">
                <ul class="list-group list-group-flush src-ul">
                    {% regroup sources|dictsort:'country' by country as sources_by_country %}
                    {% for country in sources_by_country %}
                        <li class="list-group-item">
                            <h3 id="{{ country }}-heading">
                                <button class="btn btn-link collapsed src-header" data-toggle="collapse" data-target="#{{ country }}-collapse" aria-expanded="false" aria-controls="#{{ country }}-collapse">
                                    {{ country.grouper }}
                                </button>
                            </h3>
                            <div id="{{ country }}-collapse" class="collapse" data-parent="#country-accordion" aria-labelledby="{{ country }}-heading">
                                <ul class="list-group list-group-flush src-list row">
                                    {% for source in country.list %}
                                        <li class="list-group-item src-by-ctry col-sm-12 col-md-4">
                                            <p class="src-url">{{ source.name }}</p>
                                            <p class="src-details">{{ source.language_readable }}</p>
                                            <p><sub class="src-cats">[ {{ source.categories|join:", "}} ]</sub></p>
                                            <br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="row no-gutters sources">
            <button class="btn btn-link collapsed sort-type-btn" data-toggle="collapse" data-target="#category-accordion" aria-expanded="false" aria-controls="#category-accordion" id="sort-cat">
                <h2 class="sort-style" id="category-heading">Sources by Category</h2>
            </button>
            <div class="col-12 accordion collapse" id="category-accordion" data-parent="#view-src-accordion" aria-labelledby="category-heading">
                <ul class="list-group list-group-flush src-ul">
                    {% for category in categories %}
                        <li class="list-group-item">
                            <h3 id="{{ category.cat }}-heading">
                                <button class="btn btn-link collapsed src-header" data-toggle="collapse" data-target="#{{ category.cat }}-collapse" aria-expanded="false" aria-controls="#{{ category.cat }}-collapse">
                                    {{ category.cat|capfirst }}
                                </button>
                            </h3>
                            <div id="{{ category.cat }}-collapse" class="collapse" data-parent="#category-accordion" aria-labelledby="{{ category.cat }}-heading">
                                <ul class="list-group list-group-flush src-list row">
                                    {% for source in category.src_list %}
                                        <li class="list-group-item src-by-cat col-sm-12 col-md-4">
                                            <p class="src-url">{{ source.name }}</p>
                                            <p class="src-details">{{ source.country }} - {{ source.language }}</p>
                                            <br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="row no-gutters sources">
            <button class="btn btn-link collapsed sort-type-btn" data-toggle="collapse" data-target="#language-accordion" aria-expanded="false" aria-controls="#language-accordion" id="sort-lang">
                <h2 class="sort-style" id="language-heading">Sources by Language</h2>
            </button>
            <div class="col-12 accordion collapse" id="language-accordion" data-parent="#view-src-accordion" aria-labelledby="language-heading">
                <ul class="list-group list-group-flush src-ul">
                    {% regroup sources|dictsort:'language_readable' by language_readable as sources_by_language %}
                    {% for language in sources_by_language %}
                        <li class="list-group-item">
                            <h3 id="{{ language.language_alphanum }}-heading">
                                <button class="btn btn-link collapsed src-header" data-toggle="collapse" data-target="#{{ language.language_alphanum }}-collapse" aria-expanded="false" aria-controls="#{{ language.language_alphanum }}-collapse">
                                    {{ language.grouper }}
                                </button>
                            </h3>
                            <div id="{{ language.language_alphanum }}-collapse" class="collapse" data-parent="#language-accordion" aria-labelledby="{{ language.language_alphanum }}-heading">
                                <ul class="list-group list-group-flush src-list row">
                                    {% for source in language.list %}
                                        <li class="list-group-item src-by-lang col-sm-12 col-md-4">
                                            <p class="src-url">{{ source.name }}</p>
                                            <p class="src-details">{{ source.country }}</p>
                                            <p><sub class="src-cats">[ {{ source.categories|join:", " }} ]</sub></p>
                                            <br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}
            <ul class="list-group list-group-flush src-ul">
                {% for language in languages %}
                    <li class="list-group-item">
                        <h3 id="{{ language.alphanum_name }}-heading" class="language-h3">
                            <button class="btn btn-link collapsed language-header" data-toggle="collapse" data-target="#{{ language.alphanum_name }}-collapse" aria-expanded="false" aria-controls="#{{ language.alphanum_name }}-collapse">
                                {{ language.display_name }}
                            </button>