/*
 *    ███╗   ██╗███████╗██╗    ██╗     ██████╗ ██████╗ ███╗   ███╗███╗   ███╗███████╗███╗   ██╗████████╗
 *    ████╗  ██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗████╗ ████║████╗ ████║██╔════╝████╗  ██║╚══██╔══╝
 *    ██╔██╗ ██║█████╗  ██║ █╗ ██║    ██║     ██║   ██║██╔████╔██║██╔████╔██║█████╗  ██╔██╗ ██║   ██║
 *    ██║╚██╗██║██╔══╝  ██║███╗██║    ██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║
 *    ██║ ╚████║███████╗╚███╔███╔╝    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║
 *    ╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝      ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 */
.new-comment-container {
    background-color : var(--main-light);
    border-radius    : 5pt;
    margin-left      : auto;
    margin-right     : auto;
    margin-top       : 2em;
    min-width        : 400px;
    padding-top      : 1.5em;
    text-align       : center;
    width            : 66%;
}

.new-comment-btn {
    background-color : var(--main-grey);
    border           : 1pt solid var(--main-light);
    color            : var(--main-light);
    margin           : 1em 0;
}

.new-comment-btn:hover,
.new-comment-btn:focus {
    background-color : var(--main-light);
    border           : 1pt solid var(--main-grey);
    color            : var(--main-grey);
    transition       : 0.5s;
}