/*
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ██╗   ██╗███████╗███████╗██████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██║   ██║██╔════╝██╔════╝██╔══██╗
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██║   ██║███████╗█████╗  ██████╔╝
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██║   ██║╚════██║██╔══╝  ██╔══██╗
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ╚██████╔╝███████║███████╗██║  ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝      ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝
 *
 */

#view-user-banner,
#view-user-upper,
#view-post-upper {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#view-user-banner {
    margin-top: 1em;
}

hr {
    background-color: var(--main-light);
    height: 2px;
}

#view-user-lower {
    padding-bottom: 2em;
}

#view-user-history,
#view-user-latest-post,
#view-user-lower {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#view-user-last-post-div {
    background-color: var(--main-dark);
    padding: 1em;
    border-radius: 5pt;
}

#view-user-latest-post-hr {
    background-color: var(--main-grey);
    height: 3px;
}

#view-user-view-last-post-btn,
#view-user-view-last-comments-btn {
    background-color: var(--main-grey);
    border: 1pt solid var(--main-grey);
    color: var(--main-light);
}

#view-user-view-last-comments-btn {
    margin-left: 1em;
}

#view-user-view-last-post-btn:hover,
#view-user-view-last-comments-btn:hover,
#view-user-view-last-post-btn:focus,
#view-user-view-last-comments-btn:focus {
    background-color: rgba(66, 75, 84, 0.5);
    color: var(--main-light);
    transition: 0.4s;
}

button.btn-inactive {
    background-color: darkgrey;
    color: dimgrey;
    margin-left: 1em;
}

#view-user-last-post-comments-div {
    margin: 2em;
}

.view-user-last-post-comment-div {
    margin: 1em;
    background-color: var(--main-accent-2);
    border-radius: 5pt;
    padding: 1em;
}

.view-user-last-post-comment-hr {
    height: 2px;
    background-color: var(--main-grey);
}

.view-user-last-post-comment-div > blockquote {
    color: var(--main-light);
}

#view-user-last-post-comments-crud-div {
    background-color: transparent;
}

#view-user-history {
    border-left: 2pt solid var(--main-grey)
}

#user-recent-comments,
#user-recent-posts,
#user-recent-queries {
    margin-bottom: 3em;
}
/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ██╗   ██╗███████╗███████╗██████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██║   ██║██╔════╝██╔════╝██╔══██╗
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ██║   ██║███████╗█████╗  ██████╔╝
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██║   ██║╚════██║██╔══╝  ██╔══██╗
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ╚██████╔╝███████║███████╗██║  ██║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝      ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝
 *
 */