/*
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *
 */

.src-url:link {
    color: var(--main-link-color);
}

.src-url:visited {
    color: var(--btn-hover-bg);
}

.src-url:hover,
.src-url:focus,
.src-url:active {
    color: var(--main-link-hover);
}

@media (min-width: 1200px) {
    #view-src-col-container {
        display          : block;
        background-color : var(--main-dark);
    }

    #accordion {
        display : none;
    }

    .src-details {
        color : var(--main-accent-1);
    }
}

@media (max-width: 1199px) {
    #view-src-col-container {
        display : none;
    }

    #accordion {
        display : block;
    }

    .src-details {
        color : var(--transp-bg-7);
    }
}


/*======================== ACCORDION ===============================*/
.src-pad-col {
    background-color : var(--transp-bg-1);
    padding          : 0;
    margin           : 0;
}

#src-accordion-wrapper {
    padding          : 2em;
    background-color : var(--main-light);
    margin           : 2em;
}

.src-card {
    background-color : var(--transp-bg-1);
}

.src-card > .card-header {
    background-color : var(--transp-bg-1);
    text-align       : center;
    border           : 1pt solid var(--transp-bg-1);
}

.btn.btn-link.accordion-btn {
    font-size   : 22pt;
    color       : var(--transp-bg-7);
    font-weight : 800;
}

.btn.btn-link.accordion-btn:hover,
.btn.btn-link.accordion-btn:focus {
    color                : var(--transp-bg-7);
    text-decoration-line : none;
    transition           : 0.5s;
}

.src-card-body {
    background-color : transparent;
}

.src-card-body ul {
    list-style   : none;
    justify-self : stretch;
}

.src-ul {
    align-content : normal;
}

.src-li {
    display         : inline-block;
    text-align      : left;
    justify-content : left;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*============================= COLUMNS =============================*/
.sources {
    margin           : 2em 0.5em 2em;
    /* padding-left    : 5%; */
    padding-left     : 0.5em;
    padding-right    : 0;
    text-align       : left;
    padding-top      : 1em;
    border-radius    : 5pt;
    background-color : var(--transp-bg-1);
    z-index          : 999;
}

.src-header {
    font-size     : 14pt;
    font-weight   : 800;
    margin-top    : 20px;
    margin-bottom : 10px;
    color         : var(--main-link-hover);

    width         : 100%;
    height        : auto;
    text-align    : center;
    justify-content: center;
    justify-self: center;

}

#middle-src-card {
    margin-top    : 1em;
    margin-bottom : 1em;
}

#sources-center {
    background-color : var(--transp-bg-1);
}

/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *
 */