/*
 *    ███╗   ██╗███████╗██╗    ██╗     ██████╗ ██╗   ██╗███████╗██████╗ ██╗   ██╗
 *    ████╗  ██║██╔════╝██║    ██║    ██╔═══██╗██║   ██║██╔════╝██╔══██╗╚██╗ ██╔╝
 *    ██╔██╗ ██║█████╗  ██║ █╗ ██║    ██║   ██║██║   ██║█████╗  ██████╔╝ ╚████╔╝
 *    ██║╚██╗██║██╔══╝  ██║███╗██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗  ╚██╔╝
 *    ██║ ╚████║███████╗╚███╔███╔╝    ╚██████╔╝╚██████╔╝███████╗██║  ██║   ██║
 *    ╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝      ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝   ╚═╝
 *
 */
.new-query-div {
    text-align   : center;
    height       : 100%;
    padding      : 3em;
    min-width    : 400px;
    width        : 80%;
    margin-left  : auto;
    margin-right : auto;
}

.new-query-div.upper {
    margin-top     : 2em;
    margin-bottom  : 0;
    padding-bottom : 0;
}

.row.new-query-div.upper > h2 {
    margin-top : 3em;
}

.new-query-div h2,
.new-query-div form {
    margin : auto;
}

.new-query-div.upper {
    border-bottom-right-radius : 0;
    border-bottom-left-radius  : 0;
}

.new-query-div.lower {
    border-top-right-radius : 0;
    border-top-left-radius  : 0;
}

#new-query-body-ctr,
#new-query-title-ctr {
    background-color : rgba(0, 0, 0, 0.2);
}

#new-query-title-ctr {
    margin-bottom           : 0;
    padding                 : 1em;
    border-top-right-radius : 5pt;
    border-top-left-radius  : 5pt;
}

#new-query-body-ctr {
    margin-top                 : 0;
    padding-bottom             : 2em;
    border-bottom-right-radius : 5pt;
    border-bottom-left-radius  : 5pt;
}

.new-query-div.lower {
    padding-top : 0;
    margin-top  : 0;
}

#new-query-form > input[select] {
    width : 100%;
    color : var(--transp-bg-7);
}

#id__argument {
    max-width : 100%;
}

button {
    color : var(--transp-bg-7);
}