/*
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║███████╗   ██║
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║╚════██║   ██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝███████║   ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 *
 */

#post {
    background-color : rgb(0, 0, 0);
    border           : 2pt solid var(--main-light);
    border-radius    : 5pt;
    color            : var(--main-light);
    margin           : 1em;
    overflow-y       : auto;
    padding          : 2em;
}

#post-detail {
    margin-bottom : 1em;
    margin-left   : 0;
    margin-top    : 0;
    padding-top   : 0;
}

#author-link:link {
    color      : var(--aux-accent-6);
    transition : 0.4s;
}

#author-link:hover,
#author-link:focus {
    color      : var(--main-link-hover);
    transition : 0.5s;
}

#post-body,
#post-detail > span {
    color : var(--aux-accent-6);
}

#post-detail,
#post-header,
#post-body {
    background-color : var(--transp-bg-7);
    transition       : 0.4s;
}

#post-header {
    color         : var(--aux-accent-6);
    border-bottom : 1pt solid var(--aux-accent-3);
    margin-bottom : 1em;
}

#add-comment-btn:hover,
#add-comment-btn:focus {
    background-color : var(--transp-bg-7);
    border           : 2pt solid var(--aux-accent-1);
    color            : var(--aux-accent-1);
    transition       : 0.5s;
}

#add-comment-btn {
    background-color : var(--transp-bg-7);
    border           : 2pt solid var(--aux-accent-3);
    color            : var(--aux-accent-3);
    margin           : 1em 0;
}

.del-comment-btn,
.upd-comment-btn {
    color                : var(--aux-accent-1);
    font-size            : 0.8em;
    margin               : 0;
    padding              : 0;
    text-decoration-line : none;
    transition           : 0.4s;
}

.del-comment-btn:hover,
.upd-comment-btn:hover,
.del-comment-btn:focus,
.upd-comment-btn:focus {
    color                : var(--main-link-hover);
    transition           : 0.5s;
    text-decoration-line : none;
}

#upd-post-btn,
#del-post-btn {
    border     : 2pt solid var(--aux-accent-3);
    margin     : auto 1em 2em 1em;
    transition : 0.4s;
}

#upd-post-btn:hover,
#del-post-btn:hover,
#upd-post-btn:focus,
#del-post-btn:focus {
    background-color     : var(--aux-accent-1);
    color                : var(--main-light);
    text-decoration-line : none;
    transition           : 0.5s;
}

#iframe-div {
    margin   : 1em;
    overflow : hidden;
    position : relative;
}

#iframe-div > div > div > iframe,
#iframe-div > div {
    border : 2pt solid var(--main-grey);
}

.comment-body > pre,
#post-body > pre {
    color       : var(--main-light);
    overflow-x  : auto;
    white-space : pre-wrap;
    white-space : -moz-pre-wrap;
    white-space : -o-pre-wrap;
    word-wrap   : break-word;
}

/*====================================ARTICLES===================================*/

#articles-wrapper {
    background-color : black;
    border-radius    : 8pt;
    padding          : 0;
}

#articles-col {
    background-color : var(--transp-bg-7);
    color            : var(--main-light);
    border-radius    : 5pt;
    padding          : 0;
    margin-top       : 2em;
    margin-bottom    : 2em;
}

#articles-card {
    height           : calc(100vh - 60px);
    max-height       : calc(100vh - 60px);
    background-color : var(--transp-bg-7);
    color            : var(--main-light);
    border-radius    : 5pt;
    margin           : 0;
    padding          : 0;
    border           : none;
}

.card-header {
    border-top-right-radius : 5pt;
    border-top-left-radius  : 5pt;
    border-top              : 1pt solid var(--transp-bg-7);
    border-right            : 1pt solid var(--transp-bg-7);
    border-left             : 1pt solid var(--transp-bg-7);
    border-bottom           : none;
    background-color        : var(--transp-bg-7);
    color                   : var(--main-light);
    text-align              : center;
    align-content           : center;
}


#articles-list {
    max-height                 : calc(100vh - 150px);
    overflow-y                 : scroll;
    -webkit-overflow-scrolling : touch;
    border-bottom              : 1pt solid var(--main-light);
    border-left                : 1pt solid var(--transp-bg-7);
    border-right               : 1pt solid var(--transp-bg-7);
    border-top                 : 1pt solid var(--transp-bg-7);
    background-color           : black;
    margin                     : 0;
    height                     : 100%;
}

.article-li:first-child {
    border-top : none;
}

.article-li {
    padding-bottom   : 20px;
    padding-top      : 10px;
    height           : auto;
    border-top       : 1pt solid var(--aux-accent-3);
    border-bottom    : 1pt solid var(--aux-accent-3);
    border-left      : 1pt solid var(--transp-bg-7);
    color            : var(--main-light);
    background-color : var(--transp-bg-7);
    border-right     : 1pt solid var(--transp-bg-7);
    margin           : 0;
    list-style       : none;
    border-collapse  : collapse;
}

.article-li * {
    background-color : black;
    color            : var(--main-light);
}

.article-li:last-of-type {
    border-bottom : none;
}

.row.article {
    height           : 100%;
    background-color : var(--transp-bg-7);
    color            : var(--main-light);
}

.articles-left-buffer,
.articles-right-buffer {
    background : rgb(0, 0, 0);
    margin     : 0;
}

@media screen and (min-width: 1600px) {
    .articles-right-buffer {
        display: revert;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .articles-right-buffer {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .articles-right-buffer {
        display: revert;
    }
}

.article-txt-container {
    background-color : rgb(0, 0, 0);
    color            : var(--main-light);
    padding-left     : 0;
    padding-right    : 0;
}

.article-txt-container > * {
    background : var(--transp-bg-7);
    color      : var(--main-light);
}

.img-link {
    color                : var(--main-link-hover);
    transition           : 0.5s;
    text-decoration-line : none;
}

.article-title {
    font-weight             : 800;
    font-size               : 18pt;
    margin-top              : 10px;
    padding-bottom          : 0;
    margin-bottom           : 0;
    overflow-x              : hidden;
    color                   : var(--aux-accent-6);
    background-color        : var(--transp-bg-7);
    border-top-right-radius : 5pt;
    border-top-left-radius  : 5pt;
}

.article-subtitle-container {
    text-align       : left;
    align-content    : start;
    background-color : var(--transp-bg-7);
    color            : var(--main-light);
    margin-top       : 0;
    margin-bottom    : 0;
    padding-top      : 8px;
    padding-bottom   : 8px;
}

.article-subtitle {
    background-color : var(--transp-bg-7);
    color            : var(--main-light);
    padding-top      : 0;
    margin-top       : 0;
    margin-left      : 0;
    margin-right     : 0;
    text-align       : center;
    font-size        : 10pt;
}

.article-author {
    color            : #bc4b51;
    background-color : var(--transp-bg-7);
}

.article-body {
    background-color : var(--main-accent-1);
    color            : var(--transp-bg-7);
    padding          : 2em 1em 1em 1em;
    margin-top       : 0;
    margin-bottom    : 0;
    border-radius    : 5pt;
}

.article-img-container {
    background-color : rgb(0, 0, 0);
    color            : var(--main-light);
    padding          : 10px;
}

.article-img-xl {
    max-width     : 300px;
    width         : 100%;
    border-radius : 10pt;
}

@media (min-width: 1200px) {
    .article-img-container {
        display          : block;
        text-align       : center;
        background-color : rgb(0, 0, 0);
    }

    .article-img-xl {
        border-radius : 10pt;
        width         : 100%;
        height        : auto;
        display       : inline-block;
    }

    .article-img-sm {
        display : none;
    }
}

@media (max-width: 1199px) {
    .article-img-container,
    .article-img-xl {
        display    : none;
        text-align : center;
    }

    .article-img-sm {
        display          : block;
        text-align       : center;
        width            : 100%;
        height           : auto;
        border-radius    : 10pt;
        background-color : rgb(0, 0, 0);
    }
}

/*===============================  COMMENTS =============================================*/

.comment {
    background-color : rgba(32, 36, 40, 0.8);
    color            : var(--main-light);
    padding          : 2em;
    text-align       : justify;
    text-wrap        : normal;
}
#comments-header {
    margin     : 1em;
    text-align : center;
}

#comments-container {
    background-color        : var(--transp-bg-7);
    border-top-left-radius  : 0;
    border-top-right-radius : 0;
    text-align              : center;
}

.comment-body,
.comment-footer {
    color : var(--main-light);
}

.comment-footer > a:link,
.comment-footer > a {
    color      : var(--main-link-color);
    transition : 0.4s;
}

.comment-footer > a:hover,
.comment-footer > a:focus {
    color                : var(--main-link-hover);
    transition           : 0.5s;
    text-decoration-line : none;
}

small.comment-footer {
    margin-left : 1em;
}

.comment {
    background-color : var(--main-grey);
    border-radius    : 5pt;
    color            : var(--main-light);
    margin           : 1em;
    padding          : 1em;
}
/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║███████╗   ██║
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║╚════██║   ██║
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝███████║   ██║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 */