{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    401 Unauthorized
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

{% block content %}
    <div class="err-wrapper">
{#        <h1 class="err-h1">You are authorized to not view this.</h1>#}
        <div class="img-wrapper">
            <img class="err-img" src="{% static 'img/401a.jpg' %}" alt="401 Error">
        </div>
{#        <sub class="err-sub">401 Unauthorized</sub>#}
    </div>
{% endblock %}