{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    404 Page Not Found
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

{% block content %}
    <div class="err-wrapper">
        <h1 class="err-h1">Somebody snagged a page from our book!</h1>
        <div class="img-wrapper">
            <img class="err-img" src="{% static 'img/404e.png' %}" alt="404 Error">
        </div>
        <sub class="err-sub">404 Page Not Found</sub>
    </div>
{% endblock %}