{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    500 Internal Server Error
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block content %}
    <h1 class="err-h1">Even a working clock is wrong twice a day!</h1>
    <div class="err-wrapper">
        <img class="err-img" src="{% static 'img/500b.png' %}" alt="500 Error">
    </div>
    <sub class="err-sub">500 Internal Server Error</sub>


{#    <div class="row error-row">#}
{#        <div class="col"></div>#}
{#        <div class="col">#}
{#            <h1>Even a working clock is wrong twice a day!</h1>#}
{#            <sub>500 Internal Server Error</sub>#}
{#            <br>#}
{#            <img src="{% static 'img/500b.png' %}" alt="500 Error">#}
{#        </div>#}
{#        <div class="col"></div>#}
{#    </div>#}
{% endblock %}