{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    500 Internal Server Error
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

{% block content %}
    <div class="col"></div>
    <div class="col-9 err-wrapper">
        <img class="err-img" src="{% static 'img/500b.png' %}" alt="500 Error">
        <sub class="err-sub">500 Internal Server Error</sub>
    </div>
    <div class="col"></div>

{% endblock %}