{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    {{ member.username }}'s Profile - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_user.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="view-user-upper" >
            <div class="col-12 center-block" id="view-user-banner">
                <div class="jumbotron">
                    {% if request.user.pk == member.pk %}
                        <h2>Welcome, {{ member.username }}! </h2>
                    {% else %}
                        <h2>Viewing {{ member.username }}'s Profile</h2>
                    {% endif %}
                    <small>Member Since {{ member.date_joined }}</small>
                </div>
            </div>
        </div>
        <div class="row" id="view-user-lower">
            <div class="col-8" id="view-user-latest-post">
                <div class="col-12">
                    {% if last_post %}
                        <div id="view-user-last-post-div">
                            <h1 id="view-user-latest-post-header">LATEST POST</h1>
                            <hr id="view-user-latest-post-hr">
                            <h3>
                                {{ last_post.title }}
                                <small><small>{{ last_post.date_published }}</small></small>
                            </h3>
                            <div id="view-user-last-post-body">
                                <blockquote>{{ last_post.body }}</blockquote>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'view_post' last_post.pk %}">
                                    <button class="btn" id="view-user-view-last-post-btn">View Full Post</button>
                                </a>
                                {% for comment in last_post.comments.all|slice:':1' %}
                                    <button class="btn" id="view-user-view-last-comments-btn">View Comments</button>
                                {% empty %}
                                    <button class="btn btn-inactive">View Comments</button>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        Add How To Guide for Posts
                    {% endif %}
                </div>
                <div class="col-12">
                    {% if last_post %}
                        <div id="view-user-last-post-comments-div">
                            {% for comment in last_post.comments.all %}
                                {% if comment %}
                                    <div class="view-user-last-post-comment-div">
                                        <h3>Comment by
                                            <a href="{% url 'view_user' comment.author.id %}">{{ comment.author }}</a> - {{ comment.date_published }}
                                        </h3>
                                        <hr class="view-user-last-post-comment-hr">
                                        <blockquote>{{ comment.body }}</blockquote>
                                        {% if user.pk == comment.author.id %}
                                            <div class="row" id="view-user-last-post-comments-crud-div">
                                                <div class="col-lg-2 col-sm-4">
                                                    <form method="get" action={% url 'update_comment' comment.pk %}>
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn view-comment-upd-btn">Edit Comment</button>
                                                    </form>
                                                </div>
                                                <div class="col">
                                                    <form method="post" action={% url 'delete_comment' comment.pk %}>
                                                        {% csrf_token %}
                                                        <input type="hidden" name="redirect_url" value="{% url 'view_post' comment.post.pk %}">
                                                        <button type="submit" class="btn view-comment-del-btn">Delete Comment</button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-4" id="view-user-history">
                <div class="col-12" id="user-recent-posts">
                    {% if request.user.pk == member.pk %}
                        <h3 class="view-user-section-head">MORE RECENT POSTS</h3>
                    {% else %}
                        <h3 class="view-user-section-head">{{ member.first_name|upper }}'s RECENT POSTS</h3>
                    {% endif %}
                    <ul>
                        {% for post in posts %}
                            {% if post %}
                                <li><a href="{% url 'view_post' post.pk %}">{{ post.title }}</a></li>
                            {% endif %}
                        {% empty %}
                            <li>No Posts Yet</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12" id="user-recent-comments">
                    {% if request.user.pk == member.pk %}
                        <h3 class="view-user-section-head">YOUR RECENT COMMENTS</h3>
                    {% else %}
                        <h3 class="view-user-section-head">{{ member.first_name|upper }}'s RECENT COMMENTS</h3>
                    {% endif %}
                    <ul>
                        {% for comment in comments %}
                            {% if comment %}
                                <li class="view-user-comment-li">
                                    <a  class="view-user-comment-a" href="{% url 'view_comment' comment.pk %}">{{ comment.body|truncatechars:175 }}</a>
                                </li>
                            {% endif %}
                        {% empty %}
                            <li>No Comments Yet</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if request.user.pk == member.pk %}
                    <div class="col-12" id="user-recent-queries">
                        <h3 class="view-user-section-head">YOUR RECENT QUERIES</h3>
                        <ul>
                            {% for query in queries %}
                                {% if query %}
                                    <li>
                                        Searched: {{ query.query_type }}
                                        For: {{ query.argument }}
                                        Date: {{ query.date_created }}
                                        <a href="{% url 'view_query' query.pk %}">Details</a>
                                    </li>
                                {% endif %}
                            {% empty %}
                                <li>No Queries Yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>  {% comment %} END COL-*-5 {% endcomment %}
        </div>  {% comment %} END ROW {% endcomment %}
    </div>  {% comment %} END CONTAINER {% endcomment %}
{% endblock %}

{% block footer-scripts %}
    <script>
        $(function() {
            $("#view-user-view-last-comments-btn").click(function() {
                $("#view-user-last-post-comments-div").toggle();
            });
        });
    </script>
{% endblock %}

