{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    News Sources - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_sources.css' %}">
{% endblock %}

{% block content %}
    <div id="accordion">
        <div class="row">
            <div class="col-1 src-pad-col"></div>
            <div class="col" id="src-accordion-wrapper">
                <div class="card src-card">
                    <div class="card-header" id="headingOne">
                        <h1 class="mb-0">
                            <button class="btn btn-link accordion-btn" data-toggle="collapse" data-target="#byCountry">
                                Sources By Country
                            </button>
                        </h1>
                    </div>
                    <div id="byCountry" class="collapse " data-parent="#accordion">
                        <div class="card-body src-card-body">
                            {% regroup sources|dictsort:'country' by country as sources_by_country %}
                            <ul class="src-ul">
                                {% for country, source_list in sources_by_country %}
                                    <li class="src-li">
                                        <span class="src-header">{{ country }}</span>
                                        <ul>
                                            {% for source in source_list %}
                                                <li>
                                                    <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                                    <small class="src-details">
                                                        {% for category in source.categories %}
                                                            {{ category.name }}
                                                        {% endfor %}
                                                        - <b>{{ source.language }}</b>
                                                    </small>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card src-card" id="middle-src-card">
                    <div class="card-header" id="headingTwo">
                        <h1 class="mb-0">
                            <button class="btn btn-link accordion-btn" data-toggle="collapse" data-target="#byCategory">
                                Sources By Category
                            </button>
                        </h1>
                    </div>
                    <div id="byCategory" class="collapse" data-parent="#accordion">
                        <div class="card-body src-card-body">
                            <ul class="src-ul">
                                {% for category in categories %}
                                    <li class="src-li">
                                        <span class="src-header">{{ category.cat|capfirst }}</span>
                                        <ul>
                                            {% for source in category.src_list %}
                                                <li>
                                                    {% if source.url.strip != '' %}
                                                        <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                                    {% else %}
                                                        <span>{{ source.name }}</span>
                                                    {% endif %}
                                                    <span class="src-details">{{ source.country }} - {{ source.language }}</span>
                                                </li>
                                            {% endfor %}2
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card src-card">
                    <div class="card-header" id="headingThree">
                        <h1 class="mb-0">
                            <button class="btn btn-link accordion-btn" data-toggle="collapse" data-target="#byLanguage">
                                Sources By Language
                            </button>
                        </h1>
                    </div>
                    <div id="byLanguage" class="collapse" data-parent="#accordion">
                        <div class="card-body src-card-body">
                            {% regroup sources|dictsort:'language' by language as sources_by_language %}
                                <ul class="src-ul">
                                    {% for language, source_list in sources_by_language %}
                                        <li class="src-li">
                                            <span class="src-header">{{ language }}</span>
                                            <ul>
                                                {% for source in source_list  %}
                                                    <li>
                                                        {% if source.url and source.url.trim %}
                                                            <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                                        {% else %}
                                                            <span class="src-details">{{ source.name }}</span>
                                                        {% endif %}
                                                        <span class="src-details">
                                                            {{ source.country }} - {% for category in source.categories %} {{ category }} {% endfor %}
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-1 src-pad-col"></div>
        </div>
    </div>

    <div class="container" id="view-src-col-container">
        <div class="row" id="view-src-row">
            <div class="col sources" id="sources-left">
                <h2 class="view-sources-cat-head">Sources by Country</h2>
                {% regroup sources|dictsort:'country' by country as sources_by_country %}
                <ul class="src-ul">
                    {% for country in sources_by_country %}
                        <li class="src-li">
                            <span class="src-header">{{ country.grouper }}</span>
                            <ul>
                                {% for source in country.list %}
                                    <li>
                                        <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                        <span class="src-details">{{ source.category|capfirst }} - {{ source.language }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col sources" id="sources-center">
                <h2 class="view-sources-cat-head">Sources by Category</h2>
                <ul class="src-ul">
                    {% for category in categories %}
                        <li class="src-li">
                            <span class="src-header">{{ category.cat|capfirst }}</span>
                            <ul>
                                {% for source in category.src_list %}
                                    <li>
                                         {% if source.url.strip != '' %}
                                             <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                         {% else %}
                                             <span>{{ source.name }}</span>
                                         {% endif %}
                                        <span class="src-details">{{ source.country }} - {{ source.language }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col sources">
                <h2 class="view-sources-cat-head">Sources by Language</h2>
                {% regroup sources|dictsort:'language' by language as sources_by_language %}
                <ul class="src-ul">
                    {% for language in sources_by_language %}
                        <li class="src-li">
                            <span class="src-header">{{ language.grouper }}</span>
                            <ul>
                                {% for source in language.list %}
                                    <li>
                                        <a class="src-url" href="{{ source.url }}">{{ source.name }}</a>
                                        <span class="src-details">{{ source.country }} - {{ source.category|capfirst }}</span>
                                        <span class="src-details">{{ source.country }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}