{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    Query Results - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_query.css' %}">
{% endblock %}

{% block content %}
    <div class="container" id="view-query-parent-container">

        <div class="row">
            <div class="col">
                <div id="adjacent-target">
                    <table id="view-query-table">
                        <tr>
                            <th colspan="2" class="text-center">Query Details</th>
                        </tr>
                        <tr class="view-query-tr">
                            <td class="view-query-details-row-title">Query: </td>
                            <td class="view-query-details-row-data">{{ query.argument }}</td>
                        </tr>
                        <tr class="view-query-tr">
                            <td class="view-query-details-row-title">Type: </td>
                            <td class="view-query-details-row-data">{{ query.query_type|capfirst }}</td>
                        </tr>
                        <tr class="view-query-tr">
                            <td class="view-query-details-row-title">Date: </td>
                            <td class="view-query-details-row-data">{{ query.date_created_readable }}</td>
                        </tr>
                        <tr class="view-query-tr">
                            <td class="view-query-details-row-title">Archived: </td>
                            <td class="view-query-details-row-data">{{ query.archived }}</td>
                        </tr>
                        <tr class="view-query-tr">
                            <td class="view-query-details-row-title">Article Count:</td>
                            <td class="view-query-details-row-data">{{ article_count }}</td>
                        </tr>
                         <tr class="view-query-tr">
                            <td class="view-query-details-row-title">Length Article Data:</td>
                            <td class="view-query-details-row-data">{{ article_data_len }}</td>
                        </tr>
                    </table>
                </div>

                {% if user.pk == query_author.id %}

                    {% if query.archived is False %}
                        <div id="post-query-container">
                            <form method="post" action="{% url 'new_post' %}" id="new-post-form">
                                {% csrf_token %}
                                <div class="input-group view-query" id="view-query-form-header">
                                        <p class="input-group-text title-center text-center" id="new-post-span">Post Your Query</p>
                                    <input type="text" id="view-query-form-input-title" class="form-control view-query" placeholder="Enter Title Here" aria-label="Post Title" name="_title">
                                </div>
                                <div class="input-group view-query" id="view-query-form-textarea-container">
                                    <label class="input-group-prepend view-query" id="textarea-label">
                                        <textarea class="form-control view-query" id="new-post-textarea" aria-label="Post Body" name="_body" rows="11"></textarea>
                                    </label>
                                    <div id="pre-textarea" contenteditable="true" placeholder="share your thoughts!"></div>
                                </div>
                                <div class="input-group view-query" id="view-query-form-controls">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="private-save-false">Private  </label>
                                        <input type="radio" class="form-check-input" id="private-save-false" name="save_radio" value="False" checked>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="public-save-false">Public  </label>
                                        <input type="radio" class="form-check-input" id="public-save-false" name="save_radio" value="True">
                                    </div>
                                    <div class="btn-group-sm float-right">
                                        <a href="#">
                                            <button type="submit" class="btn btn-link btn-sm" id="view-query-save-btn">SAVE</button>
                                        </a>
                                        <a href={% url 'delete_query' query.pk %}>
                                            <button class="btn btn-link btn-sm" role="link" id="view-query-del-btn">DELETE</button>
                                        </a>
                                    </div>
                                </div>
                                <input type="hidden" name="user_pk" value="{{ user.pk }}">
                                <input type="hidden" name="query_pk" value="{{ query.pk }}">
                            </form>
                        </div>
                    {% endif %}

                    {% if query.archived is True %}
                        <form method="post" action="{% url 'update_post' post.pk %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label"> Private
                                        <input type="radio" class="form-check-input" id="private-save-true" name="save_radio" value="False" checked>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label"> Public
                                        <input type="radio" class="form-check-input" id="public-save-true" name="save_radio" value="True">
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Update Post</button>
                            <input type="hidden" name="user_pk" value="{{ user.pk }}">
                            <input type="hidden" name="query_pk" value="{{ query.pk }}">
                        </form>
                        <form method="post" action="{% url 'delete_post' post.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete Post</button>
                            <sub>* Query will also be deleted</sub>
                        </form>
                    {% endif %}

                {% endif %}
            </div>

            <div class="col-sm-12 col-xl-8" id="view-query-iframe-container">
                <div class="embed-responsive-16by9" id="view-query-iframe-div">
                    {{ choro_map|safe }}
                </div>
            </div>

        </div>

        <div class="row" id="articles-row">
            <div class="col-sm-0 col-lg-1"></div>
            <div class="col-sm-12 col-lg-10" id="articles-wrapper">
                <div class="col" id="articles-col">
                    <div class="card" id="articles-card">
                        <div class="card-header" id="card-header-wrapper">
                            <h1 class="title-center" id="card-hdr">Articles from Query</h1>
                        </div>
                        <ul class="list-group" id="articles-list">
                            {% for article in articles %}
                                {% if article %}
                                    <li class="article-li">
                                        <div class="row article-row">
                                            <div class="col-xl-1 col-sm-0 buffer"></div>
                                            <div class="col-xl-7 col-sm-12 article-details-container">
                                                <a href="{{ article.article_url }}" class="img-link">
                                                    <h4 class="article-title title-center">{{ article.title }}</h4>
                                                </a>
                                                 <img class="article-img-sm" src="{{ article.image_url }}" alt="{{ article.description }}">
                                                 <h6 class="title-center article-subtitle-container">
                                                     <sub class="article-subtitle title-center">
                                                         By <span class="article-author"> {{ article.author }}</span>
                                                         {{ article.date_published|date:"DATETIME_FORMAT"}}
                                                    </sub>
                                                 </h6>
                                                <p class="article-body">{{ article.description }}</p>
                                            </div>
                                            <div class="col-xl-3 col-sm-0 article-img-xl-container">
                                                <img class="article-img-xl" src="{{ article.image_url }}" alt="{{ article.description }}">
                                            </div>
                                            <div class="col-xl-1 col-sm-0 buffer"></div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% empty %}
                                <p class="list-group-item">No Articles Found for Query</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-0 col-lg-1"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        jQuery(function(){
            jQuery('form').submit(() => {
                jQuery('textarea').val(jQuery('#pre-textarea').html() );
            });
        });
    </script>
{% endblock %}

{% block footer-scripts %}
    {{ block.super }}
    <script src="{% static 'js/view_query.js' %}"></script>
{% endblock %}
