{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    All Posts - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_public_post.css' %}">
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="view-posts-container">
            <div class="view-posts-card">
                <div class="view-posts-card-body">
                    <h3 class="view-posts-card-title">
                        <a class="card-link view-posts-post-link" href="{% url 'view_post' post.pk %}">{{ post.title|title }}</a>
                    </h3>
                    <h6 class="view-posts-card-subtitle-container text-muted">
                        <sub class="view-posts-card-subtitle">
                            By <a class="card-link view-posts-card-subtitle-link" href={% url 'view_user' post.author.pk %}>{{ post.author.username }}</a>
                            {{ post.date_published }} {{ post.comments.all.count }} Comments
                        </sub>
                    </h6>
                    <hr>
                    <blockquote class="view-posts-card-text card-text">{{ post.body|truncatechars:1000 }}</blockquote>
                    {% if post.comments.all.count >= 1 %}
                        <hr>
                        <div class="view-posts-comment-container">
                            <ul class="list-group list-group-flush" id="view-posts-post-list">
                            {% for comment in post.comments.all %}
                                {% if forloop.counter0 < 3 %}
                                    <li class="list-group-item view-posts-list-item">
                                        <p class="view-posts-comment-body">"{{ comment.body|truncatechars:500 }}"
                                            <br>
                                            <sub class="view-posts-comment-detail">Comment by
                                                <a class="view-posts-comment-link"  href="{% url 'view_user' comment.author.pk %}">{{ comment.author.username }}</a>
                                                <span>{{ comment.date_published }}</span>
                                                <a class="view-posts-comment-link" href="{% url 'view_comment' comment.pk %}">View Comment</a>
                                            </sub>
                                        </p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        No Public Posts Found
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}