{% extends 'general/root.html' %}

{% load static %}
{% load slice_up_to_comma %}

{% block title %}
    News Sources by Country - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' href='{% static "css/view_sources_by_country.css" %}'>
{% endblock %}

{% block content %}

    <div class="row no-gutters container">
        <div class="col-12 accordion" id="country-accordion">
            <ul class="list-group list-group-flush src-ul">
                {% for country in page_obj %}
                    <li class="list-group-item">
                        <h3 id="{{ country.alphanum_name }}-heading">
                            <button class="btn btn-link collapsed country-header" data-toggle="collapse" data-target="#{{ country.alphanum_name }}-collapse" aria-expanded="false" aria-controls="#{{ country.alphanum_name }}-collapse">
                                {{ country.display_name }}
                            </button>
                        </h3>
                        <div id="{{ country.alphanum_name }}-collapse" class="collapse" data-parent="#country-accordion" aria-labelledby="{{ country.alphanum_name }}-heading">
                            <ul class="list-group list-group-flush src-list row flex-container">
                                {% for source in country.publishers %}
                                    <li class="list-group-item src-by-ctry col-sm-12 col-md-4">
                                        <p class="publisher-name">{{ source.name }}</p>
                                        <p class="publisher-languages">[ {{ source.languages|join:", "}} ]</p>
                                        <p class="publisher-categories">[ {{ source.categories|join:", "}} ]</p>
                                        <hr>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </ul>
        </div>
    </div>

{% endblock %}