
.login {
    text-align      : center;
    background-color: var(--off-black);
    color           : var(--main-light);
    margin-left     : 5%;
    margin-right    : 5%;
    padding         : 3%;
}

tr {
    margin-top      : 4%;
    margin-bottom   : 4em;
    padding-top     : 1em;
    padding-bottom  : 1em;
    background-color: var(--off-black);
}

.helptext li {
    text-align: left;
}

th label {
    color: var(--main-link-color);
}

input[type="submit"] {
    color        : var(--main-light);
    border       : 1pt solid var(--main-light);
    border-radius: 5pt;
}

input[type="submit"]:hover {
    background-color: var(--main-light);
    color           : var(--off-black);
    transition      : 0.4s;
}

table {
    margin-right: 0;
}
