/*
 *    ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗ ██╗   ██╗██████╗ ██╗     ██╗ ██████╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██║   ██║██╔══██╗██║     ██║██╔════╝    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║██████╔╝██║     ██║██║         ██████╔╝██║   ██║███████╗   ██║
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║██╔══██╗██║     ██║██║         ██╔═══╝ ██║   ██║╚════██║   ██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝██████╔╝███████╗██║╚██████╗    ██║     ╚██████╔╝███████║   ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚═════╝ ╚══════╝╚═╝ ╚═════╝    ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 *
 */

.list-group-item.view-posts-single-comment,
.list-group-item.view-posts-single-comment > * {
    background-color : var(--main-accent-1);
    border-radius    : 5pt;
}

.view-posts-card-body {
    padding : 1em;
}

.view-posts-comment-detail,
.card-link,
.view-posts-card-body {
    background-color : var(--main-light);
    border-radius    : 5pt;
}

.view-posts-card-text.card-text {
    color: var(--off-black);
}

.view-posts-container {
    background-color : var(--off-black);
    padding          : 1rem;
}

.view-posts-comment-container {
    background-color : var(--main-light);
    padding          : 0.5rem;
    border-radius    : 5pt;
}

.list-group-item.view-posts-list-item {
    background-color : var(--off-black);
    border-radius    : 5pt;
    padding-top      : 1rem;
    border-collapse  : collapse;
    padding-bottom   : 1rem;
}

.view-posts-post-link:hover,
.view-posts-post-link:focus {
    color           : var(--main-link-hover);
    transition      : 0.4s;
    text-decoration : none;
}

#view-posts-post-list {
    border-radius : 5pt;
}

.view-posts-comment-link,
.view-posts-comment-detail {
    background-color : var(--main-link-visited);
}

.view-posts-post-link:link,
.view-post-comment-link,
.view-posts-comment-link:link,
.view-post-comment-link:visited {
    color                : var(--mid-dark-gray);
    text-decoration-line : none;
    transition           : 0.4s;
}

.view-posts-comment-link:hover,
.view-posts-comment-link:hover {
    color: var(--main-darkest);
    transition : 0.4s;
}

.view-posts-card-title,
.card-link.view-posts-post-link,
.card-link.view-posts-post-link:link {
    padding-bottom : 0;
    margin-bottom  : 0;
    transition     : 0.4s;
}

.view-posts-card-subtitle-container.text-muted,
.view-posts-card-subtitle,
.card-link.view-posts-card-subtitle-link,
.card-link.view-posts-card-subtitle-link:link {
    margin-top  : 0;
    padding-top : 0;
    transition  : 0.4s;
}

.view-posts-card-subtitle-container.text-muted {
    margin-bottom : 1rem;
}

.view-posts-card-subtitle-link:link {
    color: var(--main-darkest);
}

.view-posts-card-subtitle-link:visited {
    color: var(--mid-dark-grey);
}

.view-posts-comment-body {
    background-color : var(--main-link-visited);
    padding          : 1rem;
    margin-bottom    : 0;
    border-radius    : 5pt;
    color            : var(--main-light);
}

.pagination,
.pagination > * {
    margin-left  : auto;
    margin-right : auto;
    width        : 100%;
    color        : var(--main-light);
    text-align   : center;
    padding-bottom: 60px;
    background-color: var(--off-black);
}
/***
 *    ███████╗███╗   ██╗██████╗     ██╗   ██╗██╗███████╗██╗    ██╗    ██████╗ ██╗   ██╗██████╗ ██╗     ██╗ ██████╗    ██████╗  ██████╗ ███████╗████████╗
 *    ██╔════╝████╗  ██║██╔══██╗    ██║   ██║██║██╔════╝██║    ██║    ██╔══██╗██║   ██║██╔══██╗██║     ██║██╔════╝    ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
 *    █████╗  ██╔██╗ ██║██║  ██║    ██║   ██║██║█████╗  ██║ █╗ ██║    ██████╔╝██║   ██║██████╔╝██║     ██║██║         ██████╔╝██║   ██║███████╗   ██║
 *    ██╔══╝  ██║╚██╗██║██║  ██║    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██╔═══╝ ██║   ██║██╔══██╗██║     ██║██║         ██╔═══╝ ██║   ██║╚════██║   ██║
 *    ███████╗██║ ╚████║██████╔╝     ╚████╔╝ ██║███████╗╚███╔███╔╝    ██║     ╚██████╔╝██████╔╝███████╗██║╚██████╗    ██║     ╚██████╔╝███████║   ██║
 *    ╚══════╝╚═╝  ╚═══╝╚═════╝       ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝     ╚═╝      ╚═════╝ ╚═════╝ ╚══════╝╚═╝ ╚═════╝    ╚═╝      ╚═════╝ ╚══════╝   ╚═╝
 *
 */