{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    Login - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

 <div id="login-buffer">

        <div id="login-wrapper">

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="mx-auto" id="login-form">
                {% csrf_token %}
                <table class="text-center mx-auto" id="login-table">
                    <tr class="login-form-item text-center">
                        <td class="login-form-item input-label">{{ form.username.label_tag }}</td>
                        <td class="logini-form-item input-box">{{ form.username }}</td>
                    </tr>
                    <tr class="login-form-item text-center">
                        <td class="login-form-item input-label">{{ form.password.label_tag }}</td>
                        <td class="login-form-item input-box">{{ form.password }}</td>
                    </tr>
                </table>
                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            
     </div>
     
</div>

{% endblock %}
