{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    View Comment - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/view_comment.css' %}">
{% endblock %}

{% block content%}
    <div class="view-comment-container">
        <h4 class="view-comment-title">
            Comment by<a class="view-comment-title-link" href="{% url 'view_user' comment.author.pk %}">{{ comment.author.first_name }}</a>
            to post<a class="view-comment-title-link" href="{% url 'view_post' comment.post.pk %}">{{ comment.post.title }}</a>
            by<a class="view-comment-title-link" href="{% url 'view_user' comment.post.author.pk %}">{{ comment.post.author.first_name }}</a>
        </h4>
        <small class="view-comment-subtitle">Published {{ comment.date_published }}</small>
        <blockquote class="view-comment-body">{{ comment.body }}</blockquote>
        {% if user.pk == comment.author.id %}
            <div class="row">
            <div class="col-4"></div>
                <div class="col">
                    <form method="get" action={% url 'update_comment' comment.pk %}>
                        {% csrf_token %}
                        <button type="submit" class="btn view-comment-upd-btn">Edit Comment</button>
                    </form>
                </div>
                <div class="col">
                    <form method="post" action={% url 'delete_comment' comment.pk %}>
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{% url 'view_post' comment.post.pk %}">
                        <button type="submit" class="btn view-comment-del-btn">Delete Comment</button>
                    </form>
                </div>
            <div class="col-4"></div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}
