/*
 *    ██╗   ██╗██╗███████╗██╗    ██╗     ██████╗ ██████╗ ███╗   ███╗███╗   ███╗███████╗███╗   ██╗████████╗
 *    ██║   ██║██║██╔════╝██║    ██║    ██╔════╝██╔═══██╗████╗ ████║████╗ ████║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║    ██║     ██║   ██║██╔████╔██║██╔████╔██║█████╗  ██╔██╗ ██║   ██║
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║    ██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝      ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 */

.view-comment-title {
    margin-bottom  : 0;
    padding-bottom : 0;
    z-index        : 998;
}

.view-comment-title-link:link {
    color           : var(--main-link-color);
    text-decoration : underline;
    transition      : 0.4s;
    z-index         : 999;
}

.view-comment-title-link:hover,
.view-comment-title-link:focus {
    color      : var(--main-link-hover);
    transition : 0.5s;
    z-index    : -1;
}

.view-comment-subtitle {
    margin-top  : 0;
    padding-top : 0;
}

.btn.view-comment-upd-btn,
.btn.view-comment-del-btn {
    background-color : var(--main-grey);
    color            : var(--main-light);
    border           : 1pt solid var(--main-light);
    margin           : 1em 0;
}

.btn.view-comment-del-btn:hover,
.btn.view-comment-upd-btn:hover,
.btn.view-comment-del-btn:focus,
.btn.view-comment-upd-btn:focus {
    border           : 1pt solid var(--main-grey);
    color            : var(--main-grey);
    background-color : var(--main-light);
    transition       : 0.5s;
}

.view-comment-body {
    text-align    : left;
    margin-bottom : 2em;
}

.view-comment-container {
    text-align       : center;
    background-color : var(--main-light);
    width            : 66%;
    min-width        : 400px;
    margin-left      : auto;
    margin-right     : auto;
    margin-top       : 2em;
    padding-top      : 1.5em;
    padding-bottom   : 1em;
    border-radius    : 5pt;
    z-index          : 700;
}