{% extends 'general/root.html' %}
{% load static %}

{% block title %}
    New Comment - {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/new_comment.css' %}">
{% endblock %}

{% block content %}
    <div class="new-comment-container">
        <h4>Commenting
            <a href="{% url 'view_post' post.pk %}">{{ post.title|capfirst }}</a> by
            <a href="{% url 'view_user' post.author.pk %}">{{ post.author.username }}</a>
        </h4>
        <br>
        <h3>Comment:</h3>
        <form method="post" action="{% url 'new_comment' post.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn new-comment-btn">Submit Comment</button>
        </form>
    </div>
{% endblock %}